<div class="col">
    <table class="userinfo_table">
        <thead class="userinfo_table_head">
            <tr>
                <th><h3>Sổ địa chỉ</h3></th>
            </tr>
        </thead>
        <tbody class="userinfo_table_body">
            <tr>
                <td class="col-md-10 text-justify">
                    <h3>Địa chỉ</h3>
                    <h6>địa chỉ demo</h6>
                </td>
                <td class="col-md-2 text-center">
                    <button class="btn btn-check">Sửa</button>
                </td>
            </tr>
            <tr>
                <td class="col-md-10 text-justify">
                    <h3>Địa chỉ</h3>
                    <h6>địa chỉ demo</h6>
                </td>
                <td class="col-md-2 text-center">
                    <button class="btn btn-check">Sửa</button>
                </td>
            </tr>
            <tr>
                <td class="col text-justify">
                    <button class="btn btn-check">Thêm địa chỉ mới</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>



