<div class="col">
    <table class="userinfo_table">
        <thead class="userinfo_table_head">
            <tr>
                <th><h3>Thay đổi mật khẩu</h3></th>
            </tr>
        </thead>
        <tbody class="userinfo_table_body">
            <tr>
                <td class="col-md-6 text-justify">
                    <h3>Nhập mật khẩu cũ</h3>
                    <h6><input class="col-md-6 form-control border-1 mr-2" type="password" placeholder="Nhập mật khẩu cũ" /></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-6 text-justify">
                    <h3>Nhập mật khẩu mới</h3>
                    <h6><input class="col-md-6 form-control border-1 mr-2" type="password" placeholder="Nhập mật khẩu mới" /></h6>
                </td>
            </tr>
            <tr>
                <td class="col-md-6 text-justify">
                    <h3>Xác nhận mật khẩu mới</h3>
                    <h6><input class="col-md-6 form-control border-1 mr-2" type="password" placeholder="Xác nhận mật khẩu mới" /></h6>
                </td>
            </tr>
            <tr>
                <td class="col text-justify">
                    <button class="btn btn-check">Đổi mật khẩu</button>
                </td>
            </tr>

        </tbody>
    </table>

</div>
