<div class="col">
    <table class="userinfo_table">
        <thead class="userinfo_table_head">
            <tr>
                <th><h3>Chỉnh sửa hồ sơ</h3></th>
            </tr>
        </thead>
        <tbody class="userinfo_table_body">
            <tr>
                <td class="col text-justify">
                    <h3>Tên người dùng</h3>
                    <h6><input class="col-md-6 form-control border-1 ml-2" type="password" placeholder="Tên người dùng" /></h6>
                </td>
            </tr>
            <tr>
                <td class="col text-justify">
                    <h3>Địa chỉ cụ thể</h3>
                    <h6><input class="col-md-6 form-control border-1 ml-2" type="password" placeholder="Địa chỉ cụ thể" /></h6>
                </td>
            </tr>
            <tr>
                <td class="col text-justify">
                    <h3>Số điện thoại</h3>
                    <h6><input class="col-md-6 form-control border-1 ml-2" type="password" placeholder="Số điện thoại" /></h6>
                </td>
            </tr>
            <tr>
                <td class="col text-justify">
                    <h3>Giới tính</h3>
                    <div class="row pl-5">
                        <div class="col-md-2 form-check form-check-inline gender_checkbox">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label p-0" for="inlineRadio1">Nam</label>
                        </div>
                        <div class="col-md-2 form-check form-check-inline gender_checkbox">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label p-0" for="inlineRadio2">Nữ</label>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col text-justify">
                    <button class="btn btn-check">Lưu thay đổi</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

