<div class="col">
    <table class="userinfo_table">
        <thead class="userinfo_table_head">
            <tr>
                <th class="col-md-4"><h3>Lịch sử mua hàng</h3></th>
            </tr>
        </thead>
        <tbody class="userinfo_table_body">
            <tr>
                <td class="col-md-4">
                    <img src="~/Views_assets/images/product_1.png" alt="" style="width: 200px;">
                </td>
                <td class="col-md-6 text-justify">
                    <h3>Product Name</h3>
                    <h6>Màu sắc: </h6>
                    <h6>Kích thước: </h6>
                    <h4>Giá: $150</h4>
                </td>
                <td class="col-md-2 text-center">
                    <button class="btn btn-check">Đánh giá</button>
                </td>
            </tr>
            <tr>
                <td class="col-md-3">
                    <img src="~/Views_assets/images/product_1.png" alt="" style="width: 200px;">
                </td>
                <td class="col-md-7 text-justify">
                    <h3>Product Name</h3>
                    <h6>Màu sắc: </h6>
                    <h6>Kích thước: </h6>
                    <h4>Giá: $150</h4>
                </td>
                <td class="col-md-2 text-center">
                    <button class="btn btn-check">Đánh giá</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>


