<!DOCTYPE html>

<html>
<head>
    <title>Đăng nhập | ClothingShop của Cường</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ClothingShop của Cường">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="~/Views_assets/images/header_logo.png" />
    <link rel="stylesheet" type="text/css" href="~/Views_assets/styles/bootstrap4/bootstrap.min.css">
    <link href="~/Views_assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Views_assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Views_assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Views_assets/plugins/OwlCarousel2-2.2.1/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Views_assets/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Views_assets/styles/responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Views_assets/styles/categories_responsive.css">
    <link rel="stylesheet" type="text/css" href="~/Views_assets/styles/categories_styles.css">
</head>
<body>
    <div class="main_nav_container">
        <div class="container">
            <div class="row">
                <nav class="navbar">
                    <div class="logo_container">
                        <a href="/Home/Index">
                            C
                        </a>
                        <div class="logo_container_shopname">
                            <span>lothingShop</span>
                            <span>ủa</span>
                            <span>ườg</span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container entrance_section_container">
        <div class="d-flex align-items-end px-5 ms-xl-4">
            <p class="m-0">wel</p>
            <img height="50" width="50" src="~/Views_assets/images/header_logo.png" />
            <p class="m-0">ome</p>
        </div>
        <div class="row">
            <div class="col-sm-6 text-black">
                <div class="login_section_container d-flex align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form class="w-100">

                        <h3 class="mb-3 pb-3">Đăng nhập</h3>

                        <div class="form-outline mb-4">
                            <input type="email" id="form2Example18" class="form-control form-control-lg" />
                            <label class="form-label" for="form2Example18">Địa chỉ email</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" id="form2Example28" class="form-control form-control-lg" />
                            <label class="form-label" for="form2Example28">Mật khẩu</label>
                        </div>

                        <div class="col-md-6 pl-0 pt-1 mb-4">
                            <input class="entrance_section_button btn btn-check btn-lg btn-block" type="submit" value="Đăng nhập"/>
                        </div>

                        <p class="mb-5 pb-lg-2"><a class="text-muted" href="#!">Quên mật khẩu của bạn?</a></p>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 text-black">
                <div class="col align-items-center px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <h3 class="mb-3 pb-3">Tạo một tài khoản</h3>
                    <p>Hãy tạo tài khoản ngay !!</p>

                    <div class="col-md-6 pl-0 pt-1 mb-4">
                        <a class="entrance_section_button btn btn-check btn-lg btn-block" href="#">Tạo tài khoản</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>
