<!-- Sidebar User -->

@model String

<div class="sidebar">
    <div class="sidebar_section">
        <div class="sidebar_title">
            <h4>Thông tin</h4>
        </div>
        <ul class="sidebar_categories">
            <li><a id="btnSliderUserinfo" href="~/User/Profile?section=Userinfo">Hồ sơ</a></li>
            <li><a id="btnSliderDiscountcoupon" href="~/User/Profile?section=Discountcoupon">Phiếu giảm giá</a></li>
            <li><a id="btnSliderHistoryproducts" href="~/User/Profile?section=Historyproducts">Lịch sử mua hàng</a></li>
            <li><a id="btnSliderHistoryorders" href="~/User/Profile?section=Historyorders">Lịch sử đơn hàng</a></li>
        </ul>
    </div>

    <div class="sidebar_section">
        <div class="sidebar_title">
            <h4>Cài đặt hồ sơ</h4>
        </div>
        <ul class="sidebar_categories">
            <li><a href="~/User/Profile?section=Editprofile">Chỉnh sửa hồ sơ</a></li>
            <li><a href="~/User/Profile?section=Addressbook">Sổ địa chỉ</a></li>
            <li><a href="~/User/Profile?section=Changepassword">Thay đổi mật khẩu</a></li>
        </ul>
    </div>

</div>